<div class="card mx-4 my-4">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2">
                <button class="btn btn-success" type="button" (click)="connect()" *ngIf="!connected">Conectar</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-warning" type="button" (click)="disconnect()" *ngIf="connected">Cerrar Chat</button>
            </li>
        </ul>
    </div>

    <div class="card-body" style="overflow-y: scroll; height: 360px;" *ngIf="connected">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-light" *ngFor="let message of messages">
                <!-- Mostramos los mensajes que van llegando al servidor -->
                {{ message.date | date:'shortTime' }} : {{ message.text }}
            </li>
        </ul>
    </div>

    <div class="card-footer" *ngIf="connected">
        <form class="form-inline">
            <div class="form-group mx-3">
                <input type="text" [(ngModel)]="message.text" class="form-control" placeholder="Escribe un mensaje..." name="text">
            </div>
            <button class="btn btn-primary" type="submit" (click)="sendMessage()">Enviar</button>
        </form>
    </div>
</div>